<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.shellie</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>-m</string>
		<string>src.agent</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/USERNAME/shellie</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>.</string>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Umask</key>
	<integer>63</integer>
	<key>StandardOutPath</key>
	<string>/Users/USERNAME/shellie/agent.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/USERNAME/shellie/agent_err.log</string>
</dict>
</plist>
